[features]
seeds = false
skip-lint = false

[programs.localnet]
crowdfunding = "7a31VrV3Eecvbi65JZuiixpp4ANC6ac2nQnmG5HZ2Gtt"

[provider]
cluster = "devnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
